{% extends "auctions/layout.html" %}

{% block body %}
    <div class="wrapper">
        <!-- <div class="listing-id">ID:
            {{ listing.id }}</div> -->
            <div class="listing-title">{{ listing.title }}</div>
            {% if listing.image %}
                <div class="listing-image">
                    <img src="{{ listing.image }}" alt="photo"></div>
                {% endif %}

                <div class="listing-content">
                    Description:
                    {{ listing.description }}
                </div>
                <div class="listing-content">Price:
                    {{ listing.start_bid }}$
                </div>
                <div class="listing-content">Category:
                    {{ listing.category }}</div>

                    <a href="{% url 'index' %}">Back to Active Listing</a>
        </div>
    {% endblock %}
